.bilder-galary
{
    position: relative;
    padding: 10px;
    background-color: $grey;
    width: 80%;
    margin:0 auto;
    .slider
    {
        text-align: center;
        position: relative;
        height: 500px;
        overflow: hidden;

        .wrapper
        {
            overflow: hidden;
            width:100%;

            .container
            {
                height: 500px;
                @include transition(transform 0.5s);
            }
        }


        .btn-back
        {
            left:0px;
            top:50%;
            height: 30px;
            width: 30px;
            position: absolute;
            z-index: 1;
            color:black;

            &:before {
                font-family: 'icomoon';
                content:"\e600";
                position: absolute;
                width: 100%;
                height: 100%;
                right:0;
                font-size: 30px;
                @include transform(rotate(180deg));
            }

            &:hover
            {
                cursor: pointer;
            }
        }
        .btn-next
        {
            right:0px;
            top:50%;
            height: 30px;
            width: 30px;
            position: absolute;
            z-index: 1;
            color:black;

            &:before {
                font-family: 'icomoon';
                content:"\e600";
                position: absolute;
                width: 100%;
                height: 100%;
                left:0;
                font-size: 30px;
            }

            &:hover
            {
                cursor: pointer;
            }
        }
        .slider-content
        {
            height: 500px;
            z-index:100;
            .picture
            {
                float: left;
                width:10%;
                height:500px;
                width: 100%;
                background-size: cover;
                &#pic-0{background-image: url("../img/01-15-03-27-AB-Kremp_March_1280_02.jpg");background-position:center;}
                &#pic-1{background-image: url("../img/08-15-03-27-AB-Kremp_March_1280_07.jpg");}
                &#pic-2{background-image: url("../img/03-15-03-27-AB-Kremp_March_1280_03.jpg");}
                &#pic-3{background-image: url("../img/04-15-03-27-AB-Kremp_March_1280_10.jpg");}
                &#pic-4{background-image: url("../img/09-15-03-27-AB-Kremp_March_1280_08.jpg");}
            }
            .picture.show
            {
            }
        }
    }
}