.kontakt
{
    margin: 0 auto;
    height: 400px;
    background-color: $green;

    h1
    {
        margin: 60px 0px;
    }

    .left
    {
        width: 49%;
        float: left;

        .text-berreich
        {
            text-align: center;
        }
    }

    .right
    {
        width: 49%;
        float: right;

        .map-image
        {
            padding: 10px;
            background-color: white;
        }
    }



}