.oeffnungszeiten
{
    width: 100%;
    background-color: orange;
    margin-top: 80px;
    height: 350px;
}
.headline
{
    padding: 40px;
    color: white;
    font-size: $fontHeadline;
    text-align: center;
    text-transform: uppercase;
}

.col-wrapper-oeffnung
{
    text-align: center;
    width: 60%;
    margin:45px auto;

    .col
    {
        width: 33%;
        float: left;

        .head
        {
            font-weight:bold;
        }

    }

    ul
    {
        margin-top: 10px;
    }

    li
    {
        padding-top: 5px;
        line-height: 25px;
    }
}