.oeffnungszeiten
{
    width: 100%;
    background-color: orange;
    margin-top: 80px;
    height: 350px;
}
.headline
{
    padding-top: 40px;
    color: white;
    font-size: $fontHeadline;
    text-align: center;
    text-transform: uppercase;
}

.col-wrapper-oeffnung
{
    margin-top: 30px;
    text-align: center;
    padding-left: 10%;

    .col
    {
        float: left;
        margin: 30px 40px 0px;

        .head
        {
            font-weight:bold;
        }

    }
    li
    {
        padding-top: 5px;
        line-height: 25px;
    }
}